.display-4 {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 64px;
}

#nav {

    background-color: black;

}   

#searchNow {
    background-color: #0066ff;
}



.city-btn {

    display: block;
    border: 1px solid grey; 
    background-color: white;
    color: black;
    width: 75%;
    text-align: left;
    cursor: pointer;
}

.card {

    height: 300px;
    width: 175px;
    
}