.display-4 {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 64px;
}

#nav {

    background-color: black;

}   

#searchNow {
    background-color: #0066ff;
}



.city-btn {

    display: block;
    border: 1px solid grey; 
    background-color: white;
    color: black;
    width: 75%;
    text-align: left;
    cursor: pointer;
}

.weatherbox {
    background-color: #00BFFF;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    color: white;
    margin: 0px 10px;
}

h5 {
    text-align: center;
}